[submodule "GPIO/ejercicio_1/lib/AVRDuino"]
	path = GPIO/ejercicio_1/lib/AVRDuino
	url = git@github.com:Waaflee/AVRDuino.git
[submodule "GPIO/ejercicio_2/lib/AVRDuino"]
	path = GPIO/ejercicio_2/lib/AVRDuino
	url = git@github.com:Waaflee/AVRDuino.git
[submodule "GPIO/ejercicio_3/lib/AVRDuino"]
	path = GPIO/ejercicio_3/lib/AVRDuino
	url = git@github.com:Waaflee/AVRDuino.git
[submodule "Interrupciones/ejercico_4/lib/AVRDuino"]
	path = Interrupciones/ejercico_4/lib/AVRDuino
	url = git@github.com:Waaflee/AVRDuino.git
[submodule "UART/ejercicio_1/lib/AVRDuino"]
	path = UART/ejercicio_1/lib/AVRDuino
	url = git@github.com:Waaflee/AVRDuino.git
[submodule "SPI/ejercicio-1/lib/AVRDuino"]
	path = SPI/ejercicio-1/lib/AVRDuino
	url = git@github.com:Waaflee/AVRDuino.git
